@import "tailwindcss";

@theme {
    --color-md-surface: #fbfdf8;
    --color-md-primary: #386a20;
    --color-md-secondary: #55624c;
    --color-md-tertiary: #19686a;
    --color-md-error: #ba1a1a;
}

@layer base {
    body {
        -webkit-tap-highlight-color: transparent;

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        pb-safe {
            padding-bottom: env(safe-area-inset-bottom);
        }
    }
}